{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
    ],
  "presets" : ["flow"],
  "plugins": [
    "flowtype"
  ],
  rules:
    {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "no-console": ["error", { allow: ["warn", "error","log"] }] ,
      "quotes": ["error", "single"],
      "semi": ["error","never"],
      # "react/prefer-stateless-function": [0]

      # "no-unused-vars": ["error",{"vars": "local"}]
    }
}
